/* header */

header {
  /* background-color: #F9FAF5; */
  /* padding: 15px 0 15px 0; */
  font-family: monospace;
  /* color:rgb(97, 183, 202); */
}

/* Body */
body {
  font-family: monospace;
  /* font-size: 110%; */
  line-height: 20px;
  margin: 0px;
}




/* footer */
footer {
  padding: 10px 10px;
  background-color:rgb(97, 183, 202);
  color: #FFFFFF;
  font-size: small;
  line-height: 20px;
}
footer a{
  color: #FFFFFF;
}

/* mouseover effect */
.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: steelblue;
}

/* .focus {
  position: absolute;
  text-align: center;
  padding: 4px;
  width: 140px;
  height: 60px;
  font: 12px sans-serif;
  background: honeydew;
  border: 1px solid grey;
  border-radius: 10px;
  pointer-events: none;
} */

.focus text {
  font-size: 14px;
}

.tooltip {
  fill: white;
  stroke: #000;
}

.tooltip-entity, .tooltip-diffusion {
  font-weight: bold;
}
